.search-input {
    width: 400px;
    padding: 16px 24px;
    border-radius: 25px;
    border: 0;
    outline: 0;

    font-size: 16px;

    background: #2d2f30;
    color: #f2f2f2;
    /* position: absolute; */
}

.logo {
    text-align: center;
    margin-bottom: 35px;
}

.logo img {
    width: 200px;
}
.inputicons{
    /* position: relative; */
    background-color: yellow;
    border-radius:50%;
    padding:5px;
}
.span{
    position: relative;
}
.dropbox{
    background: #2d2f30;
    border-bottom-left-radius:25px ;
    border-bottom-right-radius:25px ;
    width: 400px;
    max-height: 400px;
    overflow: auto;
    text-decoration: none;
    position: relative;
    padding: 0px 24px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:-18px
}
.dropdata:hover{
    background-color: rgb(255,235,1);
    color:black
}
.dropdata p{
    text-decoration: none;
}
.wrapper{
    display:"flex"
}
.clear{
    color: white;
}
.clear:hover{
    cursor: pointer;
}
